# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tine Marbjerg\OneDrive - Københavns Erhvervsakademi\2.semester f2021\Uge 06 Spring\CatFactDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
